.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: #c5aa6a;
    padding-right: 2rem;
  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }
}