.item{
    border: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em 0;
    
    .img-responsive{
        width: 100%;
        padding: 1em, 0;
    }
    .link{
        padding: 0.5em;
        color: rgb(24, 24, 65);
        text-decoration: none;
    }
    .nombre{
        font-size:1.2em;
    }
    .variedad{
        padding: 0.5em;
        font-size: 1.2em;
        color: rgb(24, 24, 65);
    }
}