header{
    .bgColors{ 
        background-color: transparent;
        background-image: linear-gradient(to bottom, #4c3c3c, #5f4c4c);
        box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    }
    .nav-link{
        text-transform: uppercase;
    }
    .btn-outline-success {
        color: #c5aa6a !important;
        border-color: #c5aa6a !important;
    }
}
